@model IEnumerable<IdentityRole>

<div class="card">
    <div class="card-header">
        <h3 class="card-title m-0">Role List</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body table-responsive p-0" style="height: 500px;">
        @if (Model.Any())
        {
            <table class="table table-head-fixed text-nowrap">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.FirstOrDefault().Id)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FirstOrDefault().Name)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                        </tr>
                        <tr class="bg-gradient-light">
                            <td colspan="100%" class="p-0">
                                <table class="table-borderless m-0 p-0">
                                    <tr>
                                        <td>
                                            <a asp-action="EditRole" asp-controller="master" asp-route-id="@item.Id" class="btn btn-sm btn-primary">Edit</a>
                                        </td>
                                        <td>
                                            <form method="post" asp-action="DeleteRole" asp-route-id="@item.Id">
                                                <span id="confirmDeleteSpan_@item.Id" style="display:none">
                                                    <span>Are you sure to delete?</span>
                                                    <button type="submit" class="btn btn-sm btn-danger">Yes</button>
                                                    <a href="#" class="btn btn-sm btn-primary" onclick="confirmDelete('@item.Id',false)">No</a>
                                                </span>
                                                <span id="deleteSpan_@item.Id">
                                                    <a href="#" class="btn btn-sm btn-warning" onclick="confirmDelete('@item.Id',true)">Delete</a>
                                                </span>
                                            </form>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <h1>No Role Created.</h1>
        }
    </div>
    <!-- /.card-body -->
</div>

@section Scripts {
    
}